{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} eStudy {% endblock %}
{% block navbar %}
{% if user.is_authenticated %}
<div class="col-12">
  <nav class="navbar navbar-expand-md navbar-light bg-light pr-0">
    <a class="navbar-brand" href="{% url 'schoollogin' %}" style="overflow:hidden; width:70%;">{{school}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="w-70 navbar-collapse collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item {% if not 'profil' in request.path and not 'support' in request.path %}active{% endif %}"><a class="nav-link" href="{% url 'schoollogin' %} ">HOME</a></li>
        <li class="nav-item "><a class="nav-link" href="{% url 'school_school_update' user.id %}">PROFIL</a></li>
        <li class="nav-item "><a class="nav-link" href="">SUPPORT</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}">LOGOUT</a></li>
      </ul>

    </div>
  </nav>
</div>
{% endif %}
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="animated fadeIn mt-2">
    <div class="card-header card-title">
      <div class="row">
        <div class="col">
          <marquee behavior="" direction="">Welcome To {{school}}</marquee>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <form method="post" action="" class="w-50 justify-content-center text-center">
        {% csrf_token %}
        {% for error in form.old_password.errors %}
        <small id="passwordHelp" class="text-danger">{{ error }} </small>
        {% endfor %}
        <div class="form-group col-12">
          {% render_field form.old_password class="form-control mt-5" placeholder="old password" id="id_old_password" %}
        </div>

        {% for error in form.new_password1.errors %}
        <small id="passwordHelp" class="text-danger">{{ error }} </small>
        {% endfor %}
        <div class="form-group col-12">
          {% render_field form.new_password1 class="form-control" placeholder="new password" id="id_new_password1" %}
        </div>
        {% for error in form.new_password2.errors %}
        <small id="passwordHelp" class="text-danger">{{ error }} </small>
        {% endfor %}
        <div class="form-group col-12">
          {% render_field form.new_password2 class="form-control" placeholder="confirm password" id="id_new_password2" %}
        </div>
        <button class="btn btn-success" type="submit">Update password</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}