{% block navbar %}
{% if user.is_authenticated %}
<div class="col-12">
  <nav class="navbar navbar-expand-md navbar-light bg-light pr-0">
    <a class="navbar-brand" href="{% url 'schoollogin' %}" style="overflow:hidden; width:70%;">{{school}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="w-70 navbar-collapse collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item {% if not 'profile' in request.path and not 'support' in request.path %}active{% endif %}"><a class="nav-link" href="{% url 'schoollogin' %} ">HOME</a></li>
        <li class="nav-item {% if 'profile' in request.path %}active{% endif %} "><a class="nav-link" href="{% url 'school_school_update' user.id %}">PROFIL</a></li>
        <!-- <li class="nav-item "><a class="nav-link" href="">SUPPORT</a></li> -->
        <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}">LOGOUT</a></li>
      </ul>

    </div>
  </nav>
</div>
{% endif %}
{% endblock %}